USE [master]
GO
/****** Object:  Database [CalculatorDb]    Script Date: 3/23/2023 9:03:11 AM ******/
CREATE DATABASE [CalculatorDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CalculatorDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CalculatorDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CalculatorDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CalculatorDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CalculatorDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CalculatorDb]
GO
/****** Object:  Table [dbo].[CalculatorInfo]    Script Date: 3/23/2023 9:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalculatorInfo](
	[UserID] [int] NOT NULL,
	[SessionID] [varchar](100) NOT NULL,
	[UserCount] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Expression] [varchar](100) NOT NULL,
	[Result] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CalculatorInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 3/23/2023 9:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserCreation] [datetime] NOT NULL,
	[AuthType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CalculatorInfo]  WITH CHECK ADD  CONSTRAINT [FK_CalculatorInfo_UsersInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[CalculatorInfo] CHECK CONSTRAINT [FK_CalculatorInfo_UsersInfo]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 3/23/2023 9:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Delete User
 CREATE PROC [dbo].[usp_DeleteUser]
(
	@Id INT
)
AS
BEGIN
Declare @RowCount INT = 0
	BEGIN TRY
		SET @RowCount = (SELECT COUNT(1) FROM DBO.UsersInfo (NOLOCK) WHERE UserId = @Id)
		IF(@RowCount > 0)
			BEGIN
				BEGIN TRAN
					DELETE FROM DBO.UsersInfo
						WHERE UserID = @Id
				COMMIT TRAN
			END		
	END TRY
BEGIN CATCH
	ROLLBACK TRAN
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 3/23/2023 9:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Get All Users
CREATE PROC [dbo].[usp_GetAllUsers]
AS
BEGIN
	SELECT UserID,Username,Password FROM DBO.UserInfo WITH (NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserById]    Script Date: 3/23/2023 9:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetUserById
CREATE PROC [dbo].[usp_GetUserById]
(
	@Id INT
)
AS
BEGIN
	SELECT UserID,Username,Password,UserCreationDate,AuthType FROM DBO.UsersInfo WITH (NOLOCK)
	WHERE
	UserID = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertUser]    Script Date: 3/23/2023 9:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Insert Login User, need to add exception handling...
CREATE PROC [dbo].[usp_InsertUser]
(
	@Username VARCHAR(50),
	@Password VARCHAR(50),
	@UserCreationDate DATETIME,
	@AuthType VARCHAR(50)
)
AS
BEGIN
	INSERT INTO DBO.UserInfo(Username,Password,UserCreation,AuthType)
	VALUES
	(@Username,@Password,@UserCreationDate,@AuthType)
END
GO
USE [master]
GO
