@model standcalcwaspnet.Models.LoginModel;
<link href="~/css/site.css" rel="stylesheet"/>
<script src="~/lib/jquery/jquery-3.6.3.js"></script>
@using (Html.BeginForm())
{
    <div class="input">
        <table>
            <tr>
                <td>
                    <p>@ViewBag.Msg</p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="login-btn">
                        <label>Username: </label>
                    </div>
                </td>
                <td>
                    <div class="login-btn">
                        @Html.TextBoxFor(s=>s.UserName,new {@class = "login_inp" })
                    </div>
                </td>
            </tr>
            <tr>
                    <td>
                    <div class="login-btn">
                        <label>Password: </label>
                    </div>
                </td>
                    <td>
                    <div class="login-btn">
                            @Html.TextBoxFor(s=>s.Password,new {@class = "login_inp" })
                    </div>
                    </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <div class="login-btn"><input class="login" type="submit" name="submitBtn" value="Login" /></div>
                </td>
            </tr>
            <tr>
                <td><div class="login-btn">Not Registered?</div></td>
                <td><input class="login" type="submit" name="submitBtn" value="Register" /></td>
            </tr>
        </table>
    </div>
}