@model standcalcwaspnet.Models.LoginModel;
<link href="~/css/site.css" rel="stylesheet"/>
<script src="~/lib/jquery/jquery-3.6.3.js"></script>
@using (Html.BeginForm())
{
    <div class="input">
        <table>
            <tr>
                <td>
                    <p>@ViewBag.Sorry</p>
                </td>
            </tr>
            <tr>
                <td><label>Username: </label></td>
                <td>
                    @Html.TextBoxFor(s=>s.user,new {@class = "login_inp" })
                </td>
            </tr>
            <tr>
                <td><label>Password: </label></td>
                <td>
                    @Html.TextBoxFor(s=>s.pass,new {@class = "login_inp" })
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <div class="login-btn"><input class="login" type="submit" value="Login" /></div>
                </td>
            </tr>
        </table>
    </div>
}